*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#about-me{
    margin-top: 70px;
}

#bs-color{
    color: #6f42c1;
}

#copy-email{
    color: #0d6efd;
    text-decoration: underline;
}

.pfp{
    width: 50%;
    height: auto;
}

@media only screen and (max-device-width: 768px){

    .info-flex{
        flex-flow: column;
    }

}