*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#about-me{
    margin-top: 70px;
}

.pfp{
    width: 250px;
    height: auto;
}

@media only screen and (max-device-width: 768px){

    .info-flex{
        flex-flow: column;
    }

}