$white: #fff;
$white-dark: #e2e2e2;
$grey: #555;
$black: #000;

$shadow-dark: 0 2rem 4rem rgba($black, 0.6);
$shadow-light: 0 2rem 4rem rgba($black, 0.4);

$bp-largest: 75em;
$bp-large: 56.25em;
$bp-medium: 34.375em;
